*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, black, rgb(156, 227, 255), black);
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
input, button{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 4px;
}
button{
    border-radius: 8px;
}